.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* .filter-input-checkbox:checked + .filter__achievements--checkbox::before {
  border: 0;
}

.filter-input-checkbox:checked + .filter__achievements--checkbox::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 27px;
  height: 23px;
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  background-position: 0, 0;
}

.filter-input-checkbox:checked + .filter__achievements--checkbox:hover::after {
  background-image: url(../img/checkbox-on-hover.svg);
}

.filter-input-checkbox:disabled + .filter__achievements--checkbox {
  opacity: 0.3;
}

.filter-input-checkbox:disabled + .filter__achievements--checkbox::before {
  border: 2px solid var(--success-button-grey);
}

.filter-input-checkbox:disabled:checked
  + .filter__achievements--checkbox::before {
  border: 0;
}

.filter-input-checkbox:disabled + .filter__achievements--checkbox:hover::after {
  background-image: url(../img/checkbox-on.svg);
}

.filter-input-checkbox:focus + .filter__achievements--checkbox::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
 */
